{% extends '../base.html' %}
{% block content %}
<body>
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h5>{{task.task_name}}</h5>
              <h6>Project: {{task.project}}</h6>
              <h6>Module: {{task.module}}</h6>
              <h6>Status: {{task.status}}</h6>
              <h6>Priority: {{task.priority}}</h6>
              <h6>Description: {{task.description}}</h6>
              <h6>Estimated Minute: {{task.estimatedMinutes}}</h6>
              <h6>Total Util Minutes: {{task.totalUtilMinutes}}</h6>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}