{% extends '../base.html' %}
{% block content %}
<body>
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h5>{{module.moduleName}}</h5>
              <h6>Project: {{module.project}}</h6>
              <h6>Description: {{module.description}}</h6>
              <h6>Estimated Minute: {{module.estimatedMinutes}}</h6>
              <h6>Start Date: {{module.startDate}}</h6>
              <h6>Total Util Minutes: {{module.totalUtilMinutes}}</h6>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}