{% extends "../base.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h2>User Task List</h2>
                <a href="{% url 'UserTask' %}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adPrrojectModal">Add User Task</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User Name</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Task Name</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Util Minutes</th>
                                <th class="text-secondary opacity-7">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in usertasks %}
                            <tr>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ task.user.username }}</span>
                                    <div class="d-flex px-2 py-1"></div>
                                </td>
                                <td class="align-middle text-center">
                                    <!-- <span class="text-secondary text-xs font-weight-bold">{{ task_task.title }}</span> -->
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ task.status }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ task.totalUtilMinutes }}</span>
                                </td>
                                <td class="align-middle">
                                    <a href="{% url 'Report' task.id %}" class="badge badge-sm bg-gradient-info" data-toggle="tooltip" data-original-title="View Report">View Report</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
